<div class="jumbotron">
  <div class="text-center">
    <h2>Articles</h2>
    <h4>
      Our blog has <%= Article.public_count %> article<%=Article.public_count == 1 ? "" : "s"  %>!
    </h4>
  </div>
  <hr></hr>
  <% @articles.each do |article| %>
    <% unless article.archived? %>
      <p>
        <%= link_to article.title, article %>
      </p>
    <% end %>
  <% end %>
</div>
